:root {
  --color-green: hsl(75, 94%, 57%);
  --color-gray-700: hsl(0, 0%, 20%);
  --color-gray-850: hsl(0, 0%, 12%);
  --color-gray-900: hsl(0, 0%, 18%);
  --color-near-black: hsl(0, 0%, 8%);
  --color-attribution-links: hsl(228, 45%, 44%);
}

body {
  background-color: var(--color-near-black);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
}

.card {
  background-color: var(--color-gray-850);
  border-radius: 15px;
  max-width: 380px;
  padding: 40px;
  height: fit-content;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  display:flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  max-width: 90px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.card h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card > .location {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--color-green);
  margin-bottom: 15px;
}

.card > .description {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.card a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: var(--color-gray-700);
  padding: 10px 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 10px 0;
  text-align: center;
}

a:hover, a:focus, a:active {
  background-color: var(--color-green);
  color: var(--color-gray-850)
}

.card p {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--color-gray-500);
  line-height: 1.5;
}

.attribution {
  font-size: 11px;
  text-align: center; 
  padding: 20px 0;
  width: 100%;}
  
.attribution a { color: var(--color-attribution-links); }